.footerynav {
    background-color: rgba(20, 173, 45, 0.568);

}

.macho {
    color: cyan;
}

.hembra {
    color: palevioletred;
}

.carouseltitletext {
    color: green
}

.carouselptext {
    color: green
}

.tituloadopciones {
    font-family: "Times New Roman", Times, serif;
font-size: 35px;
letter-spacing: 0px;
word-spacing: 0px;
color: #297045;
font-weight: 700;
text-decoration: underline solid #297045;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.pequeños {
    font-family: Arial, Helvetica, sans-serif;
    color: #93B5C6;
}

.medianos {
    font-family: Arial, Helvetica, sans-serif;
    color: #2CEAA3;

}

.grandes {
    font-family: Arial, Helvetica, sans-serif;
    color: #003249;
}

.titulohistorias {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 38px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #726DA8;
    font-weight: 700;
    text-decoration: underline solid #726DA8;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.titulobienvenidos {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #297045;
    font-weight: 700;
    text-decoration: underline solid #297045;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.subtitulosindex {
    font-family: "Times New Roman", Times, serif;
    font-size: 34px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #297045;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}


.subtitulohistorias {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7D8CC4;
}

.tituloobjetivos {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 38px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #6B2737;
    font-weight: 700;
    text-decoration: underline solid #6B2737;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.rescatar {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #E08E45
}

.rehabilitar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #E86252
}

.adoptar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #E87EA1
}

.supervisar {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #658E9C;
}

.machomarco {
    border: 7px solid #1C6EA4;
    border-radius: 17px;
}

.hembramarco {
    border: 7px solid #FF9CB4;
    border-radius: 17px;
}

.bordemacho:hover{
    box-shadow: 8px 4px 13px 7px rgba(49,24,232,0.67);
}

.bordehembra:hover{
    box-shadow: 8px 4px 13px 7px rgba(232,49,191,0.67);
}

.rescatarmarco{
    border: 2px solid #E08E45;
}

.rehabilitarmarco{
    border: 2px solid #E86252;
}

.adoptarmarco{
    border: 2px solid #E87EA1;
}

.supervisarmarco{
    border: 2px solid #658E9C;
}

.historiasmachomarco {
    border: 2px solid #1C6EA4;
    padding: 0;
}

.historiashembramarco {
    border: 2px solid #FF9CB4;
    padding: 0;
}

.carouselmarco {
    border: 2px solid #008000;
}

.alertamarco {
    border: 2px solid #e60d0d;
}

@media (max-width:576px) {
    .carouselptext {
        display: none;
    }
}

@media (max-width:576px) {
    .titulobienvenidos {
        font-size: 35px;
    }
}

@media (max-width:768px) {
    .alertamarco {
        border: none;
    }
}

@media (max-width:446px) {
    .tituloobjetivos {
        font-size: 30px;
    }
}

@media (max-width:367px) {
    .titulohistorias {
        font-size: 25px;
    }
}

.animaciontarjeta {
	animation: animaciontarjeta 0.4s ease-in-out both;
}

@keyframes animaciontarjeta {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }

.textorojoalerta {
    animation: textorojoalerta 1s ease-in-out both;
}

@keyframes textorojoalerta {
    0% {
      color: yellow;
    }
    50% {
      color: orange;
    }

    100% {
      color: firebrick;
    }
  }
  
.nombremachomotion {
    animation: nombremachomotion 0.6s ease-in-out both;
}

@keyframes nombremachomotion {
    0% {
      color: white;
    }
    50% {
      color: rgba(104, 231, 231, 0.596);
    }

    100% {
      color: cyan;
    }
  }
  
  .nombrehembramotion {
    animation: nombrehembramotion 0.6s ease-in-out both;
}

@keyframes nombrehembramotion {
    0% {
      color: white;
    }
    50% {
      color: pink;
    }

    100% {
      color: palevioletred;
    }
  }